@import url('https://fonts.googleapis.com/css2?family=Alan+Sans:wght@300..900&family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Coming+Soon&display=swap" rel="stylesheet');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alan Sans", sans-serif;
}

.container {
    max-width: 100vm;
    min-height: 100vh;
    background: #FFFDE7;
}